# Created by .ignore support plugin (hsz.mobi)
.gitignore
.gradle/
.idea/
GitTest.iml
app/libs/
app/src/main/res/drawable/
build/
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat
local.properties
